In [1]:
import pandas as pd
from matplotlib import pyplot as plt

df = pd.read_csv("TravelInsurancePrediction.csv")
df

,Unnamed: 0,Age,EmploymentType,GraduateOr0t,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,0,31,0,1,400000,6,1,0,0,0
1,1,31,1,1,1250000,7,0,0,0,0
2,2,34,1,1,500000,4,1,0,0,1
3,3,28,1,1,700000,3,1,0,0,0
4,4,28,1,1,700000,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1982,1982,33,1,1,1500000,4,0,1,1,1
1983,1983,28,1,1,1750000,5,1,0,1,0
1984,1984,28,1,1,1150000,6,1,0,0,0
1985,1985,34,1,1,1000000,6,0,1,1,1
1986,1986,34,1,1,500000,4,0,0,0,0

In [2]:
print("Com esse segundo dataset o que mais me chamou atenção foi pensar sobre correlação, sobre alguma coisa implicava em ter mais ou menos chance de alguém comprar o seguro de viagem, pensando nisso, a primeira pergunta é:")
print()
print("O que mais influencia alguém a comprar seguro de viagem?")

df1=df[["AnnualIncome","ChronicDiseases","FrequentFlyer","EverTravelledAbroad","TravelInsurance"]]

df1.corr().style.background_gradient(cmap="Blues")

Com esse segundo dataset o que mais me chamou atenção foi pensar sobre correlação, sobre alguma coisa implicava em ter mais ou menos chance de alguém comprar o seguro de viagem, pensando nisso, a primeira pergunta é:

O que mais influencia alguém a comprar seguro de viagem?

In [3]:
print("Usando a função do pandas de correlação obtivemos esse resultado;")
print("Dadas as correlações, a frequência de viagens e a distância das viagens tem grande influência por levarem a maior exposição a risco de acidentes em viagens; A correlação com a renda anual também é alta por conta de que é necessário ter uma boa renda para conseguir efetuar várias viagens.")
print()
print("A Segunda pergunta, seguindo na mesma linha de pensamento, é sobre: por que algumas coisas não tem quase nenhuma correlação com contratar um seguro de viagem?")

Usando a função do pandas de correlação obtivemos esse resultado;
Dadas as correlações, a frequência de viagens e a distância das viagens tem grande influência por levarem a maior exposição a risco de acidentes em viagens; A correlação com a renda anual também é alta por conta de que é necessário ter uma boa renda para conseguir efetuar várias viagens.

A Segunda pergunta, seguindo na mesma linha de pensamento, é sobre: por que algumas coisas não tem quase nenhuma correlação com contratar um seguro de viagem?

In [4]:
df2=df[["EmploymentType","ChronicDiseases","Age","GraduateOr0t","FamilyMembers","AnnualIncome","TravelInsurance"]]

df2.corr().style.background_gradient(cmap="Reds")

In [5]:
print("Dos selecionados aqui, a único com correlação relevante é o do tipo de trabalho, provavelmente por conta de muitos funcionários do governo precisarem viajar muito e também terem mais renda.")
print()
print("Ter doença crônica provavelmente não influencia na compra de seguros de viagem pois a doença não oferece um risco direto a viagem e também não aumenta as chances da pessoa viajar;")
print()
print("A Idade também não aponta correlação, existem muitas pessoas de várias faixas de idade que viajam frequentemente e também que não viajam frequentemente.")
print()
print("Ter graduação não tem impacto algum, é a segunda menor correlação atrás apenas das doenças crônicas, provavelmente por conta de não levar a nada que aumente o risco de acidentes em viagens.")
print()
print("O Número de membros na família tambémm não tem correlação forte com a compra de seguros, indepentende de quantas pessoas vivam juntas, a única coisa que aponta para maior chance de comprar seguros é a maior exposição a risco de acidentes.")

Dos selecionados aqui, a único com correlação relevante é o do tipo de trabalho, provavelmente por conta de muitos funcionários do governo precisarem viajar muito e também terem mais renda.

Ter doença crônica provavelmente não influencia na compra de seguros de viagem pois a doença não oferece um risco direto a viagem e também não aumenta as chances da pessoa viajar;

A Idade também não aponta correlação, existem muitas pessoas de várias faixas de idade que viajam frequentemente e também que não viajam frequentemente.

Ter graduação não tem impacto algum, é a segunda menor correlação atrás apenas das doenças crônicas, provavelmente por conta de não levar a nada que aumente o risco de acidentes em viagens.

O Número de membros na família tambémm não tem correlação forte com a compra de seguros, indepentende de quantas pessoas vivam juntas, a única coisa que aponta para maior chance de comprar seguros é a maior exposição a risco de acidentes.